venv
venv/
.env
.env.local
mailenv/
mailenv
__pycache__/
__pycache__
node_modules/
broadmail.db
backend/broadmail.db
.pytest_cache/
.pytest_cache
.next/
.next
frontend/.next/
frontend/.next
random_string.py